a{
    cursor: pointer !important;
}

.table td,
.table th{
    padding:5px 15px;
}

.table input:not([type]),
.table input[type=date],
.table input[type=datetime-local],
.table input[type=datetime],
.table input[type=email],
.table input[type=number],
.table input[type=password],
.table input[type=search],
.table input[type=tel],
.table input[type=text],
.table input[type=time],
.table input[type=url],
.table textarea.materialize-textarea{
    height: 2rem;
    margin-bottom:0;
}

.pagination li.active{
    background:#26a69a !important;
}

.table .btn{
    background:white !important;
    color:#26a69a !important;
}

.ng-table-pager{
    margin-top:2em;
    text-align:center;
}
.ng-table-pager .btn{
    background:#f4f4f4 !important;
    color:#26a69a !important;
    margin-left:.5em;
    margin-right:.5em;
}
.ng-table-pager .btn.active{
    background:#26a69a !important;
    color:#f4f4f4 !important;
}