/*
.container {
	display: flex; 
	flex-direction: row | row-reverse | column | column-reverse;
	justify-content: flex-start | flex-end | center | space-between | space-around;
	align-items: flex-start | flex-end | center | baseline | stretch;
	
	align-content: flex-start | flex-end | center | space-between | space-around | stretch;
	flex-wrap: nowrap | wrap | wrap-reverse;
	flex-flow: <‘flex-direction’> || <‘flex-wrap’>
}
.item {
	align-self: auto | flex-start | flex-end | center | baseline | stretch;
	order: <integer>; //para ordenar los elementos sin importar como esta en el HTML
	flex-basis: <length> | auto;//le damos un tamaño fijo a un elemento y los demas se ordenan en base a el

	flex-shrink: <number>;
	flex-grow: <number>;//no tan util para que ocupe el espacio de la suma de los otros elementos
	flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
}
box-sizing: border-box //padding no amplia el width
*/
	
.modalClick
	cursor pointer
	
azul = #334960
amarillo = #ffcd03
gris = #999999
verde = #8dc740

@import "nib"

.amarillo
	color azul
.gris
	color gris
.azul
	color azul
.verde
	color verde
.mt1
	margin-top 1em
	margin-bottom 1em
.mt2
	margin-top 2em
	margin-bottom 2em
.img-responsive
	margin auto
	display block

.error
	color red !important
span.badge.new
	background #1a237e	
		
header
	margin-bottom 2em
	.submenu
		border-bottom 1px solid gray
		padding-top 5px
		padding-bottom: 10px
		color #0a0a0a
		font-size: 1.2em
		font-weight: bold
		opacity .5
		.contact
			padding 0
			.contactItem
				margin-right 15px
		.iconos
			font-size: .9em
			padding-right 0
			padding-left 0
			a
				i
					padding-right 10px
					padding-left 10px
				&:last-child i
					padding-right 0
			.dividir
				display inline
				border-right 1px solid gray
			a:hover
			a:focus
				text-decoration: none
	.logo
		max-height 120px
	.menu
		font-size 12px
		.navbar-brand
			padding: 0px
			&>img
				height: 130%
				width: auto
	.navbar-default
		background-color transparent
		border-color transparent
		
.tituloVerde
	color verde
	//font-family: 'Ranga', cursive
	font-family: 'Indie Flower', cursive;
	
header .menu .navbar-brand>img
	height 200%
.whyChoose
	h2
		color azul
		margin-bottom 1em
	.itemWhy
		display flex
		flex-direction row
		align-items center
		justify-content flex-start
		margin-bottom 2em
		.icon
			width: 66px
			height: 66px
			background: #334960
			border-radius: 100%
			position: relative
			color: #fff
			margin-right 15px
			&:before
				content: " "
				display: block
				width: 56px
				height: 56px
				position: absolute
				top: 50%
				left: 50%
				-moz-transform: translate(-50%,-50%)
				-ms-transform: translate(-50%,-50%)
				-webkit-transform: translate(-50%,-50%)
				-o-transform: translate(-50%,-50%)
				transform: translate(-50%,-50%)
				border: 2px dotted rgba(255,255,255,0.5)
				border-radius: 100%
			i
				position: absolute
				top: 50%
				left: 50%
				-moz-transform: translate(-50%,-50%)
				-ms-transform: translate(-50%,-50%)
				-webkit-transform: translate(-50%,-50%)
				-o-transform: translate(-50%,-50%)
				transform: translate(-50%,-50%)
				font-size: 1.5em	
.principal
	.izquierda
		margin-top 2rem
		margin-bottom: 2rem
		h3
		i
			color azul
		.titulo
			color azul
			font-weight: bold
		label
			color #8dc740
			font-weight: 700
		label.error
			color red
	.derecha
		margin-top 2rem
		margin-bottom: 2rem		
	
footer
	background #334960
	padding 1rem
	color white
	img
		max-height 120px
	

.wifiServices
	margin-top 2em
	margin-bottom 2em
	display flex
	flex-wrap wrap
	flex-direction row
	justify-content space-around
	align-items center
	font-size: 1.2em
	.precio
		font-size: 1.2em
	
.tourParty
	margin-top 3em
	margin-bottom 1em
	&-Item	
		display flex
		flex-direction row
		justify-content space-around
		align-items stretch
		flex-wrap wrap
		border-right 1px solid azul
		border-bottom 1px solid azul
		box-shadow 5px 5px 10px azul
		font-size: 1.5em
		&-Imagen
				padding-left 0
		&-Texto
			border-right 1px solid azul
			.textoGris
				color #9a9a9a
		&-Precio
			//background green
			display flex
			align-items center
			justify-content center
			.verde
				font-weight: bold
				

.partyBoatsDetails
	margin-top 5em

.faqs
	margin-top 3em
	p
		font-size: 1.2em
.completed
	.margin
		margin 2em 0


.containerFotos
	border 1px solid #BCBCBC
	height: 200px
	margin-top 1em
	
.pointer
	cursor pointer
@media only screen and (max-width : 480px)
	.principal
		.izquierda
			h3
			h5
				text-align center
			.titulo
				text-align: center
				
@media only screen and (max-width : 768px)
	.submenu .contact .iconos
			text-align center
			margin-top .5em
	.navbar-default .navbar-nav > li > a
		height 40px
	#menu
		margin-top 2em
			
@media only screen and (min-width : 768px)
	header
		.menu
			*
				padding 0px
				



.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a
.side-nav ul ul li a:hover, .side-nav.fixed ul ul li a:hover
	color #1a237e
	font-weight: bold
	i
		color #1a237e
		font-weight: bold
		